[submodule "wasm/webp/libwebp"]
	path = wasm/webp/libwebp
	url = https://github.com/webmproject/libwebp.git
[submodule "wasm/jp2/openjpeg"]
	path = wasm/jp2/openjpeg
	url = https://github.com/uclouvain/openjpeg.git
[submodule "wasm/raw/libraw"]
	path = wasm/raw/libraw
	url = https://github.com/LibRaw/LibRaw.git
[submodule "wasm/heif/libheif"]
	path = wasm/heif/libheif
	url = https://github.com/strukturag/libheif.git
[submodule "wasm/heif/libde265"]
	path = wasm/heif/libde265
	url = https://github.com/strukturag/libde265.git
