#input {
   display: none;
}

#label {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;

   box-sizing: border-box;
   padding: 1rem;
   font: 3rem 'Roboto', sans-serif;
   color: gray;
}

#label #border {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;

   box-sizing: border-box;
   width: 100%;
   height: 100%;
   border: dashed 1rem lightgray;
   border-radius: 3rem;
   padding: 1rem;
}
